/* ------ friends playlist ------- */
.online_friends {
  padding: 0;
  margin-left: 16px;
}

.eachfriend-item {
  display: flex;
  margin-bottom: 7px;

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }

  a {
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    color: gray;

    &:hover {
      color: $fontColor;
    }
  }

  span {
    display: inline-block;
    text-transform: capitalize;
  }
}
