/* ------------ top ten playlist------------ */
.playlist {
  overflow: auto;
  
  h2 {
    font-size: 2em;
    margin-bottom: 0;
  }
}


.myplaylist-item {
  a {
    text-decoration: none;
    font-size: 14.5px;
    display: block;
    margin-bottom: 7px;
    color: gray;
  }
  &:last-child a {
    margin-bottom: 0;
  }
  & :any-link:hover {
    color: $fontColor;
  }
}
